.carDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    height: 90vh;
    background: linear-gradient(
      to right,
      rgba(31, 28, 88, 0.9) 10%,
      rgba(31, 28, 88, 0.7) 50%,
      rgba(31, 28, 88, 0.1) 100%
    ),
      url("https://www.shutterstock.com/image-photo/summer-car-wash-cleaning-high-600nw-2292007309.jpg");
  padding: 10px;
  height: 90vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
    display: flex; 
    flex-direction: column;
}