.container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* width: 40%; */
  margin: auto;
}
.container > form {
  /* width: 70%; */
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}
pre {
  width: 70%;
  color: #fff;
  font-size: larger;
}

button {
  background: #0563b4 !important;
}
p {
  color: red;
}

.field {
  display: flex; 
  align-items: center; 
  margin-bottom: 5%; 
}
.label {
  width: 100px; 
  margin-right: 10px; 
}
.submit-button {
  margin-top: 10px; 
}

/* Default style for resizable input fields */
.resizable-input {
  width: 60%; 
}

/* Adjust input field width at different screen sizes */
@media screen and (max-width: 768px) {
  .resizable-input {
    width: 40%; 
  }
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .resizable-input {
    width: 20%; 
  }
  .container {
    width: 95%;
  }
}

.gradient-custom {
  background: linear-gradient(
      to right,
      rgba(31, 28, 88, 0.9) 10%,
      rgba(31, 28, 88, 0.7) 50%,
      rgba(31, 28, 88, 0.1) 100%
    ),
      url("https://www.shutterstock.com/image-photo/summer-car-wash-cleaning-high-600nw-2292007309.jpg");
  padding: 10px;
  height: 90vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.clientOnBoarding {
  background: linear-gradient(
      to right,
      rgba(31, 28, 88, 0.9) 10%,
      rgba(31, 28, 88, 0.7) 50%,
      rgba(31, 28, 88, 0.1) 100%
    ),
      url("https://www.shutterstock.com/image-photo/summer-car-wash-cleaning-high-600nw-2292007309.jpg");
  padding: 10px;
  height: 90vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex ;
  justify-content: center;
  align-items: center;
}