.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* width: 40%; */
  margin: auto;
}
.container > form {
  /* width: 70%; */
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}
pre {
  width: 70%;
  color: #fff;
  font-size: larger;
}

button {
  background: #0563b4 !important;
}
p {
  color: red;
}

.field {
  display: flex; 
  align-items: center; 
  margin-bottom: 5%; 
}
.label {
  width: 100px; 
  margin-right: 10px; 
}
.submit-button {
  margin-top: 10px; 
}

/* Default style for resizable input fields */
.resizable-input {
  width: 60%; 
}

/* Adjust input field width at different screen sizes */
@media screen and (max-width: 768px) {
  .resizable-input {
    width: 40%; 
  }
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .resizable-input {
    width: 20%; 
  }
  .container {
    width: 95%;
  }
}
