.shaded-container {
  border-radius: 8px; /* Rounded corners */
  padding: 10px; /* Add padding to the container */
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  /* justify-content: space-around; */
  
}

/* Style for form labels */
.MuiFormLabel-root {
  font-size: 18px;
  color: #333; /* Change text color to a darker shade */
}

/* Style for radio buttons and labels */
.MuiRadio-root {
  padding: 10px; /* Increase padding around radio buttons */
  color: #333; /* Change text color for radio labels */
}

/* Style for the submit button */
.MuiButton-containedPrimary {
  margin-top: 20px; /* Add some space between the form and the button */
}

.plans {
  background: linear-gradient(
      to right,
      rgba(31, 28, 88, 0.9) 10%,
      rgba(31, 28, 88, 0.7) 50%,
      rgba(31, 28, 88, 0.1) 100%
    ),
      url("https://www.shutterstock.com/image-photo/summer-car-wash-cleaning-high-600nw-2292007309.jpg");
  padding: 10px;
  height: 90vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}