.showAllClients {
    background: linear-gradient(
      to right,
      rgba(31, 28, 88, 0.9) 10%,
      rgba(31, 28, 88, 0.7) 50%,
      rgba(31, 28, 88, 0.1) 100%
    ),
      url("https://www.shutterstock.com/image-photo/summer-car-wash-cleaning-high-600nw-2292007309.jpg");
  padding: 10px;
  height: 90vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}


@media (max-width: 767px) {
  /* Add your mobile specific styles here */
  .table_clients {
    /* display: flex; */
    width: 95vw;
  }
  .client_add_icon {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  /* Add your desktop/laptop specific styles here */
  
  .client_add_icon {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.table{
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: auto; 
}
